<div class="secret-users">

<%= link "Back", to: post_path(@conn, :index), class: "button" %>

  <%= for user <- @users do %>
    <div class="user">
      <%= user.email %>
    </div>
  <% end %>
</div>
