.posts-index {
  display: flex;
  justify-content: space-around;
  line-height:100px;
  height: 100px;

  .posts {
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
  }

  .nav {
    .button {
      height: 20px;
      padding: 20px;
    }
  }
}
