.secret-users {
  display: flex;
  align-items: center;
  flex-direction: column;

  .user {
    margin-top: 20px;
    background-color: white;
    color: #D88989;
    height: 80px;
    width: 170px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    line-height: 80px;
    font-size: 22px;
    font-weight: 400;
    padding: 20px;
  }
}

