@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Raleway');

body,
html {
  height: 100vh;
  width: 100%;
  margin: 0;
}

@import "_colors";
@import "_homepage";
@import "_session";



