<div class="main-container">
  <div class="main-header">
    <h1 class="main-title">Sheriff Policy Example</h1>
  </div>

  <div class="sign-in">
    <%= link "Sign Up", to: user_path(@conn, :new), class: "button"  %>
    <%= link "Sign In", to: session_path(@conn, :new), class: "button"  %>
  </div>
</div>
